@import "../global";

.avatarBox {
  position: relative;
  width: 130px;
  height: 130px;
  margin: 10px;

  &.small {
    width: 90px;
    height: 90px;
  }

  &.smallest {
    width: 60px;
    height: 60px;
  }

  .image {
    z-index: 2;
    position: absolute;
    width: 100%;
    height: 100%;
    cursor: pointer;
    transition: all ease-in-out 0.1s;
    border-radius: 5px;
    background-color: white;

    &.victory {
      background-color: $player-color;
    }

    &.defeat {
      background-color: $adversary-color;
    }

    &:hover {
      transform: scale(1.05);
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      overflow: hidden;
      border-radius: 5px;
      box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
      opacity: 0.8;

      &.gamePlayed {
        opacity: 0.4 !important;
      }
    }
  }

  .gameResult {
    position: absolute;
    top: 50%; /* position the top  edge of the element at the middle of the parent */
    left: 50%; /* position the left edge of the element at the middle of the parent */

    transform: translate(-50%, -50%);
    z-index: 3;
    width: 100%;
    text-transform: uppercase;
    font-weight: 400;
    color: white;
  }

  .victory {
    //color: $player-color;
  }

  .defeat {
    //color: $adversary-color;
  }
}